{% extends 'admin/layout.html.twig' %}

{% block title %}New Products{% endblock %}

{% block content %}
    <h1>Create new Products</h1>

    {{ include('admin/products/_form.html.twig') }}

{% endblock %}
